@{
    ViewBag.Title = "Lock Me Down";
}
@section featured {
    <section class="intro">
        <div class="slogan">
            <h1>Security for the Everyday Developer</h1>
        </div>
    </section>
}

